# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
**/.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
**/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/build/
/android/.gradle/

# Windows related
/windows/flutter/ephemeral/
/windows/flutter/generated_plugins.cmake
/windows/flutter/generated_plugin_registrant.cc
/windows/flutter/generated_plugin_registrant.h

# macOS related
/macos/Flutter/ephemeral/
/macos/Flutter/GeneratedPluginRegistrant.swift

# Linux related
/linux/flutter/ephemeral/
/linux/flutter/generated_plugins.cmake
/linux/flutter/generated_plugin_registrant.cc
/linux/flutter/generated_plugin_registrant.h

# iOS related
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/Flutter/Flutter.podspec
/ios/ServiceDefinitions.json
/ios/Runner/GeneratedPluginRegistrant.h
/ios/Runner/GeneratedPluginRegistrant.m

# App scripts log
analyze.txt
analyze2.txt
generated_screens.txt
parse_screens.py
screens_out.txt
download_screens.py
extract_gen.py
fix_warnings.py
.vscode/settings.json
.vscode/settings.json
